<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter06.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Chapter09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Chapter16-Decorator with category.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Chapter16-Decorator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Chapter17-Chain of Responsibility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Design Patterns With Objective-c Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A505C76D1D17F6970063588A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A505C7A81D1A33290063588A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A529FD931D2A583B00C230AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A529FDBE1D2B4ABA00C230AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A529FDE51D2BA50E00C230AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5F45D4B1CA50F130060ED01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
